html {
    box-sizing: border-box;
    font-size: 16px;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: lighter;
  }
  
  /*  Set the font */
  body {
    font-family: "Helvetica", sans-serif;
  }
  
  .header {
      background-image: url(https://github.com/ironhack-labs/lab-css-recipes-clone/blob/master/apple-pie/images/apple-pie.jpg?raw=true);
      position: 0.0;
      size: cover;
      height: 650px;
      background-repeat: no-repeat;
     
    }
  
    h1 {
      color: white;
      font-size: 5em;
      text-align: center;
      transform: uppercase;
   }
  
   h2 {
  
      font-size: 2em;
      transform: uppercase;
   }
  
   p {
      text-align: center;
      transform: uppercase;
   } 
   li {
      text-align: start;
      transform: uppercase;
   } 